# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.insect-jam.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Coding\Unity Projects\insect-jam\.idea\.idea.insect-jam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
